<h5>Conulta de Produtos</h5>
<p>Listagem de produtos cadastrados</p>

<!--a tabela vai ter cabecalho, corpo e rodapé-->
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <td>Nome do Produto</td>
      <td>Preço</td>
      <td>Quantidade</td>
      <td>Descrição</td>
      <td>Operações</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of produtos">
      <td>{{ p.nome }}</td>
      <td>{{ p.preco | currency: "R$" }}</td>
      <td>{{ p.total | currency: "R$" }}</td>
      <td>{{ p.quantidade }}</td>
      <td>{{ p.descricao }}</td>

      <td>
        <button
          class="btn btn-primary"
          [routerLink]="['/editar-produtos', p.idProduto]"
        >
          Editar
        </button>
        &nbsp;
        <button class="btn btn-danger" (click)="excluir(p.idProduto)">
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">Total de registros :{{ produtos.length }}</td>
    </tr>
  </tfoot>
</table>
